body {
    background-color: #2e3440;
    color: #eceff4;} 

u {
    text-decoration: underline;
    letter-spacing: 5px;
    text-decoration-color: #88c0d0;
    border-bottom: 10px;
    }

h3 {
    text-align: center;}

p {
    text-align: center;}

h4 p {
    color: ;
    text-align: center;}
